.banner {
  padding-bottom: 6px;

  font-family: $page-font;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffde03;
}

.banner--form {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 9px;
}

.banner__image {
  position: relative;
  z-index: 2;

  width: 320px;
  min-height: 158px;
  margin-bottom: 37px;

  background-color: $main-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }

  &::before {
    content: " ";
    position: absolute;

    bottom: 0;
    display: block;
    width: 100%;
    height: 26px;

    background-image: url("../img/bg-intro-triangle-mobile.svg");
  }
}

.banner__image--index {
  min-height: 389px;
  margin-bottom: 38px;

  background-size: cover;

  img {
    width: 280px;
    padding-top: 157px;
  }
}


.banner__wrapper {
  width: 265px;
  margin: 0 auto;
  padding: 0;
}

.banner__slogan {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  color: $main-text-color;
}

.banner__intro {
  margin: 0;
  padding: 9px 0 0;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.banner__intro--photo {
  width: 275px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 21px;

  line-height: 24px;
}

.banner__intro--form {
  width: 275px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 7px;

  line-height: 24px;
}


.banner__image--photo img {
  display: block;
  width: 229px;
  margin: 0 auto;
  padding-top: 50px;
}

.banner__image--form img {
  display: block;
  width: 229px;
  margin: 0 auto;
  padding-top: 50px;
}

@media (min-width: $tablet-width) {
  .banner__image {
    width: 100%;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &::before {
      content: " ";
      position: absolute;
      bottom: 0;

      display: block;
      width: 100%;
      min-height: 57px;

      background-size: 100%;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }
  }

  .banner__image--index {
    min-height: 518px;
    margin-bottom: 49px;
  }

  .banner__image--photo,
  .banner__image--form {
    min-height: 290px;
    margin-bottom: 74px;
  }

  .banner__image--index img {
    width: 400px;
    padding-top: 185px;
  }

  .banner__image--photo img {
    width: 458px;
    padding-top: 94px;
  }

  .banner__image--form img {
    width: 458px;
    padding-top: 94px;
  }

  .banner__wrapper {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
    // padding: 0 0 44px;
  }

  .banner__slogan {
    margin: 0;

    font-size: 30px;

    &--small {
      font-size: 21px;
    }
  }

  .banner__intro {
    margin: 0;
    padding: 28px 0 44px;

    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
  }

  .banner__intro--photo {
    width: 445px;
    margin: 0 auto;
    padding-bottom: 62px;
  }

  .banner__intro--form {
    width: 445px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 46px;
  }
}


@media (min-width: $desktop-width) {
  .banner__image {
    width: 100%;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;

      display: block;
      width: 100%;
      min-height: 57px;

      background-size: 100%;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  .banner__image--photo,
  .banner__image--form {
    min-height: 301px;
    margin-bottom: 111px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .banner__intro--photo {
    padding: 31px 0 64px;
  }

  .banner__intro--form {
    padding-top: 30px;
    padding-bottom: 29px;
  }

  .banner__image--photo img {
    width: 458px;
    padding-top: 100px;
  }

  .banner__image--form img {
    width: 458px;
    padding-top: 100px;
  }
}
