.breadcrumb {
  @include list-reset();

  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 2px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

.breadcrumb li {
  display: inline;
  position: relative;
}

.breadcrumb-link {
  color: inherit;
  opacity: 1;
}

.breadcrumb-link:hover,
.breadcrumb-link:focus {
  outline: none;
  opacity: 0.6;
}

.breadcrumb li:last-child {
  opacity: 0.5;
}

.breadcrumb li + li {
  margin-left: 22px;
}

.breadcrumb li + li::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -16px;
  width: 10px;
  height: 14px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 14px;
}

.breadcrumb li:first-child {
  padding-left: 20px;
}


@media (min-width: $tablet-width) {
  .breadcrumb {
    margin-left: 60px;
  }
}


@media (min-width: $desktop-width) {
  .article {
    position: relative;
    width: 400px;
    height: 267px;

    &::after {
      display: none;
    }

    &--first {
      width: 1200px;
      height: 400px;
    }
  }

  .article__image {
    width: 400px;
    height: 267px;

    &--first {
      width: 1200px;
      height: 400px;
    }
  }

  .article__outline {
    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 80px;
    padding-top: 15px;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .article__author-wrapper {
    color: $white;
  }

  .article__author {
    color: $white;
  }

  .article__likes {
    background-color: transparent;
    color: $white;

    &--first {
      padding-right: 21px;
      margin-left: auto;
    }
  }

  .article__likes-svg {
    fill: $white;
  }
}