.card-list-container {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  // background: #f2f3f5;
}

.card-list-container__item {
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
  // height: 414px;
  margin-bottom: 30px;
}

.card-item {
  position: relative;
  box-sizing: border-box;

  height: 100%;
  margin: 0 auto;
  // padding: 20px 10px;

  font-family: $page-font;
  transition: all 0.2s ease-in-out 0s;

  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(157, 162, 166, 0.12);

  // background-color: $background;
  // box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
  // box-shadow: 0 4px 15px rgb(157 162 166 / 12%);

  // полоска - она в px- ПЕРЕДЕЛАТЬ! спросить Андрей -в тел код
  // &::after {
  //   position: absolute;
  //   z-index: 3;
  //   content: "";
  //   width: 320px;
  //   height: 1px;
  //   background-color: $article-line;
  //   top: 414px;
  //   left: -20px;
  // }
}

.card-item::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out 0s;
  background-color: #ffffff;
}

.card-item:hover {
  transition: all 0.2s ease-in-out 0s;
}

.card-item:hover::before {
  top: -15px;
  left: -15px;
  padding: 15px;
  transition: all 0.2s ease-in-out 0s;
  box-shadow: 0 4px 20px rgba(157, 162, 166, 0.35);
}

// .card-item::before {
//   content: "";
//   position: absolute;
//   z-index: 0;
//   top: 0;
//   left: 0;
//   width: calc(100% - 2px);
//   height: 100%;
//   transition: all 0.2s ease-in-out 0s;
//   border: 1px solid #e8e8e8;
//   border-radius: inherit;
//   background-color: inherit;
// }

// .card-item:hover {
//   transition: all 0.2s ease-in-out 0s;
//   box-shadow: 0 4px 15px rgba(76, 75, 77, 0.1);
// }

// .card-item:hover::before {
//   top: -10px;
//   left: -10px;
//   padding: 10px;
//   transition: all 0.2s ease-in-out 0s;
// }

/* из-за before */
.card-item > * {
  position: relative;
  z-index: 1;
}

.card-item__chevron {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  box-sizing: border-box;
  margin: 0;
  // padding: 0.4em 0.8em;
  // border: 1px solid #000000;
  padding: 3px 10px 4px 10px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.card-item__chevron--new {
  background-color: #36e0b3;
  color: #ffffff;
}

.card-item__chevron--hit {
  background-color: #692be0;
  // background-color: #8962f8;
  color: #ffffff;
}

.card-item__chevron--sale {
  // background-color: #e0d84c;
  background-color: #f2cd13;
}

.card-item__link {
  display: block;
  margin-bottom: 10px;
}

.card-item__text-link {
  transition: color, text-decoration-color 0.2s ease-in-out 0s;
}

// .card__image {
//   display: block;
//   width: auto;
//   max-height: 100%;
//   margin: 0 auto;
// }

.card-item__img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-item__title {
  margin: 0 0 0.65em;
  // margin: 0 0 1em;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.3;
}


/* возраст */
.card-item__division {
  padding: 0 10px 0;
  margin-bottom: 1.1em;
  color: #919199;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}

.card-item__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 0;
  margin-bottom: 1.1em;
}

.card-item__availability {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto 0 0;
  padding-left: calc(13px + 0.6em);
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}

.card-item__availability--yes::before {
  content: url("../img/ok.svg");
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: 13px;
  height: 13px;
}

/* аналогично, но свг означающий, что предмета нет в наличии*/
.card-item__availability--no {
  content: url("../img/not.svg");
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: 13px;
  height: 13px;
}

.card-item__rating {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding-left: calc(13px + 0.6em);
  color: #333333;
  font-family: "M PLUS 1p", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.card-item__rating::before {
  content: url("../img/star.svg");
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 13px;
  height: 13px;
}

.card-item__link-to-reviews {
  margin-left: 0.9em;
  color: #797d80;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: underline;
}

/* компонент -  */
.card-item__price-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  // margin-bottom: 2.9em;
  margin-bottom: 0.85em;
  padding: 0 10px 0;
  font-weight: 500;
  line-height: 1.5;
}

.card-item__price-list dt {
  margin: 0;
  color: #000000;
  font-size: 18px;
}

.card-item__price-list dd {
  margin: 0;
  color: #000000;
  font-size: 24px;
}

.card-item__description {
  margin: 0;
  padding: 0 10px 18px;
  color: #333333;
  font-size: 16px;
  line-height: 1.2;
}

.card-item__button-block {
  display: flex;
  flex-direction: column;
}

.card-info__button {
  box-sizing: border-box;
  width: 85%;
  // width: 280px;
  height: 52px;
  padding: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: calc(52px - 1px * 2);
  text-align: center;
  color: #ffffff;

  border: 1px solid #ff5722;
  // border-radius: 4px;
  background-color: #ff5722;
}

// .card-info__button:enabled:hover,
// .card-info__button:enabled:focus,
// .card-info__button:enabled:active {
//   transition: all 0.2s ease-in-out 0s;
// }

.card-info__button:enabled:hover {
  background-color: #f94208;
  color: #ffffff;
  border: 1px solid #ffffff;
  // color: $main-text-color;
}

.card-info__button:enabled:focus,
.card-info__button:enabled:active {
  // border: none;
  border: 1px solid #000000;
  // border: 2px solid $main-text-color;
  background-color: #ff5722;
  color: rgba(255, 255, 255, 0.7);
}

.card-info__button:first-of-type {
  margin-bottom: 1em;
  // margin-bottom: 1.4em;
}

.card-info__button--border {
  position: relative;
  padding-left: 12px;
  border: 1px solid  #ff5722;
  background-color: #ffffff;
  color: $main-text-color;
}

.card-info__button--border::before {
  position: absolute;
  top: 0;
  left: 10px;
  content: "\f138";
  font-family: "FontAwesome";
  margin-right: 7px;
}

.card-info__button--border:hover {
  border: 1px solid #ffffff;
  background-color: #0033ff;
  color: #ffffff;
}

.card-info__button--border:focus,
.card-info__button--border:active {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: $main-text-color;
  line-height: calc(52px - 2px * 2);
}

.card-info__button:disabled {
  border: 1px solid #cccacb;
  background-color: #ffffff;
  color: #bfbcbd;
}

.card-info__button--border span {
  color: #ff5722;
}

.article__outline {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px 0 0 0;

  font-size: 14px;
  line-height: 24px;
  color: $main-text-color;
}

.article__author-wrapper {
  margin: 0;
  padding: 0;
}

.article__title {
  display: block;
  margin: 0;
  padding: 0;

  font-weight: 700;
  text-transform: uppercase;
}

.article__author {
  margin-left: 2px;

  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.article__likes {
  position: relative;
  display: block;
  padding-top: 9px;
  padding-left: 37px;
}


.article__likes-svg {
  position: absolute;
  top: 7px;
  left: 1px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .card-list-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;

    border-top: none;
  }

  .card-list-container__item {
    box-sizing: border-box;
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }

  .card-list-container__item:not(:nth-of-type(2n)) {
    margin-right: 30px;
  }

  .card-item {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    // padding: 20px 10px;
    transition: all 0.2s ease-in-out 0s;
    background-color: #ffffff;
    // box-shadow: 0 4px 15px rgb(157 162 166 / 12%);

    // background-color: $background;

    &::after {
      display: none;
    }
  }

  .card-item__title {
    font-size: 21px;
  }

  .card-item__description {
    font-size: 18px;
  }

  .card-info__button {
    font-size: 18px;
  }

  .article__outline {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 21px;

    background-color: $background;
  }

  .article__likes {
    margin-left: auto;
    padding-right: 30px;
    padding-top: 15px;

    background-color: $background;

    &--first {
      padding-right: 21px;
    }
  }

  .article__likes-svg {
    top: 13px;
    left: 4px;
  }
}


@media (min-width: $desktop-width) {
  .card-list-container {
    // width: 100%;
    width: 1200px;
    margin: 0 auto;
    // margin: 1em auto 0;
    padding: 50px;
  }

  .card-list-container__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
    margin-bottom: 30px;
  }

  .card-list-container__item:not(:nth-of-type(4n)) {
    margin-right: 30px;
  }

  .card-info__button {
    font-size: 16px;
  }

  .card-info__button--border::before {
    position: absolute;
    top: 0;
    left: 4px;
    content: "\f138";
    font-family: "FontAwesome";
    margin-right: 7px;
  }

  .card-item__title {
    font-size: 18px;
  }

  .card-item__description {
    font-size: 16px;
  }

  .article {
    position: relative;
    width: 400px;
    height: 267px;

    &::after {
      display: none;
    }

    &--first {
      width: 1200px;
      height: 400px;
    }
  }

  .article__image {
    width: 400px;
    height: 267px;

    &--first {
      width: 1200px;
      height: 400px;
    }
  }

  .article__outline {
    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 80px;
    padding-top: 15px;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .article__author-wrapper {
    color: $white;
  }

  .article__author {
    color: $white;
  }

  .article__likes {
    background-color: transparent;
    color: $white;

    &--first {
      padding-right: 21px;
      margin-left: auto;
    }
  }

  .article__likes-svg {
    fill: $white;
  }
}
