.carousel__wrapper {
  position: relative;
  width: auto;
  height: 550px;
  margin: 0 auto;
  // padding: 0;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 3px 3px 13px 0 rgba(0,0,0,.2);
    overflow: hidden;
}

.items-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.item {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.description {
  display: flex;
  justify-content: space-between;
  margin: 30px 20%;
  font-size: 32px;
  border: 2px solid black;
}

// .description img {
//   height: unset;
// }

.project-name {
  padding: 10px;
}

// .control {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 15%;
//   cursor: pointer;
// }

// я заменила -старое закомичено - начало
.control {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  align-items: center;
  // width: 15%;
  // height: 15%;
  width: 120px;
  height: 120px;
  padding: 28px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}

.control.left  {
  left: 0;
  right: auto;
  justify-content: flex-end;
  transform: translateX(-50%);
}

.control.right {
  right: 0;
  justify-content: flex-start;
  transform: translateX(50%);
}

.control  svg {
  fill: #ffffff;}


// я заменила -старое закомичено -конец


// .control.left {
//   left: 0;
//   right: auto;
// }

// .control.right {
//   right: 0;
//   left: auto;
// }

.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 84px;
}

.arrow.right {
  right: 50%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}


@media (min-width: $tablet-width) {

  .description {
    flex-direction: column;
    align-items: center;
  }
}
 

@media (min-width: $desktop-width) {
  .description {
    flex-direction: row;
    align-items: center;
  }

}


@media (max-width: $mobile-width-only) {

  .control {
    width: unset;
    height: unset;
    
    background-color: unset;
    border-radius: unset; 
  }

  .control > .arrow {
    display: none;
  }

  .control > svg {
    display: none;
  }

  .project-name {
    display: none;
  }

  .description {
    border: 0;
  }
}

