.page-footer {
  display: flex;
  flex-direction: column;
  height: 320px;
  // height: 254px;
  padding-top: 1px;

  text-transform: uppercase;
  font-family: $page-font;
  text-align: center;
  color: $main-text-color;
}

.page-footer__adress-wrapper {
  margin: 5px 0 30px;
}

// .page-footer__adress-wrapper {
//   margin: 35px 0 37px;
// }

.page-footer__adress {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;

  &--name {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
  }

  &--email {
    position: relative;
    padding: 0;
    margin: 0;

    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &--email a {
    color: $main-text-color;
  }

  &--email a:focus,
  &--email a:hover {
      color: $main-blue;
  }

  &--email a:active {
      color: #f6921e;
  }

  // &--email a:focus .page-footer__adress-icon-svg,
  // &--email a:hover .page-footer__adress-icon-svg {
  //     color: #ff00ff;
  // }

  // &--email a:active .page-footer__adress-icon-svg {
  //     color: #ff0000;
  // }

}

.page-footer__adress-icon-svg {
  position: absolute;
  top: 4px;
  left: 72px;

  cursor: pointer;
}

.page-footer__adress--email a:focus .page-footer__adress-icon-svg,
.page-footer__adress--email a:hover .page-footer__adress-icon-svg {
  fill: $main-blue;
}

.page-footer__adress--email a:active .page-footer__adress-icon-svg {
  fill: #f6921e ; 
}



@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 140px;
  }

  .page-footer__adress-wrapper {
    margin: 0 0 0 40px;
  }

  .page-footer__adress {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;

    &--name {
      padding-top: 10px;

      text-transform: uppercase;
    }

    &--email {
      font-weight: 400;
    }    
  }

  .page-footer__adress-icon-svg {
    top: 4px;
    left: 8px;
  }

}

@media (min-width: $desktop-width) {
  .page-footer__adress-wrapper {
    margin: 0 0 0 91px;
    padding: 0;
  }

  .page-footer__adress-icon-svg { 
    left: 20px;
  }

  .page-footer__adress {
    font-size: 16px;

    &--email {
      font-size: 14px;
    }
  }
}
