.page-footer {
  display: flex;
  flex-direction: column;
  height: 254px;
  padding-top: 1px;

  text-transform: uppercase;
  font-family: $page-font;
  text-align: center;
  color: $main-text-color;
}

.page-footer__adress-wrapper {
  margin: 20px 0 30px;
}

// .page-footer__adress-wrapper {
//   margin: 35px 0 37px;
// }

.page-footer__adress {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
  }

  .page-footer__adress-wrapper {
    margin: 0 0 0 40px;
  }

  .page-footer__adress {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__adress-wrapper {
    margin: 0 0 0 101px;
    padding: 0;
  }
}
