.reviews {
  position: relative;

  background-color: #ffffff;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   right: 0;
  //   bottom: -35px;
  //   left: 0;
  //   z-index: 3;

  //   height: 35px;

    // background-image: url("../img/corner-light.svg");
    // background-repeat: no-repeat;
    // transform: rotate(180deg);
  // }
}

.reviews__wrapper {
  padding-top: 10px;
}

// .reviews__title {
//   margin: 0;
//   margin-bottom: 28px;

//   font-weight: bold;
//   font-size: 30px;
//   line-height: 30px;
//   text-align: center;
//   color: #000000;
//   text-transform: uppercase;
// }

.reviews__title {
  position: relative;

  display: block;

  width: 180px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px 0 0;
  padding-bottom: 5px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.reviews__title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  content: ".";
  color: transparent;
  background: #000000;
  height: 1px;
  transition: all .5s;
}

.reviews__title:hover::after {
  width: 100%;
}

.reviews__item {
  position: relative;

  margin: 0 20px;
  padding-right: 20px;
  padding-bottom: 55px;
  padding-left: 70px;
  &:nth-child(n) {
    display: none;
  }
}

.reviews__author-photo {
  position: absolute;
  top: 10px;
  left: 0;

  box-sizing: border-box;
  width: 60px;
  height: 60px;
  overflow: hidden;

  // border: 1px solid rgba( #000000, 0.5);
  border-radius: 6px;
}

.reviews__author-photo img {
  position: absolute;
  top: 10px;
  left: 0;

  width: 150px;
  height: auto;

  transform: scale(1.55);
}

.reviews__author-photo--anna img {
  left: -11px;
}

.reviews__author-name {
  display: block;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: $main-blue;
  font-style: normal;
}

.reviews__item p {
  margin: 0;

  font-size: 18px;
  line-height: 27px;
  color: rgba( #000000, 0.8);
}

.reviews__next {
  display: none;
}

.reviews__prev {
  display: none;
}

.reviews__write {
  display: none;
}

.reviews__toggles {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 15;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76px;
  height: 10px;

  background: #ffffff;

  transform: translateX(-50%);
}

.reviews__toggle {
  border: 1px solid $main-blue!important;
}

#reviews-input-1:checked ~ .reviews__toggles label[for="reviews-input-1"],
#reviews-input-2:checked ~ .reviews__toggles label[for="reviews-input-2"],
#reviews-input-3:checked ~ .reviews__toggles label[for="reviews-input-3"] {
  background-color: $main-blue;
}

#reviews-input-1:checked ~ .reviews__items .reviews__item:nth-child(1),
#reviews-input-2:checked ~ .reviews__items .reviews__item:nth-child(2),
#reviews-input-3:checked ~ .reviews__items .reviews__item:nth-child(3) {
  display: block;
}

  @media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    // &::after {
    //   display: none;
    // }
  }

  .reviews__wrapper {
    position: relative;

    padding-top: 45px;
    padding-bottom: 70px;
  }

  .reviews__title {
    width: 250px;
    margin-bottom: 15px;
    padding-bottom: 5px;

    font-size: 21px;
    text-align: center;
  }

  .reviews__items {
    display: flex;
  }

  .reviews__item {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0;
    padding-top: 30px;
    padding-right: 53px;
    padding-bottom: 35px;
    padding-left: 140px;

    border: 1px solid $main-blue;
    border-right: none;
    border-left: none;
  }

  .reviews__author-photo {
    top: 50%;
    left: 16px;
    // left: 30px;

    // width: 80px;
    // height: 80px;
    width: 100px;
    height: 100px;

    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  .reviews__author-photo img {
    top: 14px;
    left: 3px;

    transform: scale(1.55);
  }

  .reviews__author-photo--anna img {
    left: -12px;
  }

  .reviews__author-name {
    margin-bottom: 12px;
  }

  .reviews__next,
  .reviews__prev {
    position: relative;

    display: block;
    flex-shrink: 0;
    width: 50px;
    padding: 0;

    font-size: 0;

    background-color: transparent;
    border: 1px solid $main-blue;
    outline: none;
    cursor: pointer;

    transition: border-color 0.2s linear, background-color 0.2s linear;
    &:hover,
    &:focus {
      border-color: $main-blue;
    }
    &:active {
      background-color: $main-blue;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 0;
      height: 0;

      border: 6px solid transparent;
      border-right: none;
      border-left: 12px solid #000000;
      transform: translate(-50%, -50%);

      transition: filter 0.2s linear;
    }
    &:active::before {
      filter: opacity(0.3);
    }
  }

  .reviews__prev {
    order: -1;
    &::before {
      border-right: 12px solid #000000;
      border-left: none;
    }
  }

  .reviews__write {
    position: absolute;
    top: 36px;
    right: 0;

    display: block;
    width: 159px;
    margin: 0;
    padding: 10px 22px 11px 24px;

    outline: none;
  }

  .reviews__toggles {
    bottom: 66px;

    // padding-right: 25px;
    // padding-left: 25px;

    // background-color: #f8f5f2;
  }
}

  @media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding-bottom: 98px;
  }

  .reviews__item {
    padding-top: 31px;
    padding-right: 70px;
    padding-bottom: 35px;
    padding-left: 317px;

    border-right: 1px solid $main-blue;
    border-left: 1px solid $main-blue;
  }

  .reviews__author-photo {
    left: 0;

    width: 249px;
    height: 100%;

    border-radius: 0;
  }

  .reviews__author-photo img {
    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    transform: scale(1);
  }

  .reviews__author-photo--anna img {
    left: 0;
  }

  .reviews__next {
    margin-left: 21px;
  }

  .reviews__prev {
    margin-right: 21px;
  }

  .reviews__toggles {
    bottom: 46px;
  }
}
