// без медиа - десктоп
// медиа запрос ближайший подходит но сверху
// hover только desktop!
// 

.sub-menu__wrapper { 
  padding-top: 0;
  background-color: transparent;
}

.sub-menu {
  @include list-reset; 
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #fbf8f6;
}
.site-list__item:not(.__show_dropdown_sub) .sub-menu{
  display: none;
}
.site-list__item:not(.__show_dropdown_sub) .sub-menu__wrapper{
  display: none;
}
.site-list__item.__show_dropdown_sub .sub-menu {
  display: flex;
}
.site-list__item.__show_dropdown_sub  .sub-menu__wrapper{
  display: block;
}
.site-list__item.__show_dropdown_sub .sub-menu__ikon-wrapper svg{
  transform: rotate(0deg);
}

.site-list__item.__show_dropdown_sub .sub-menu__ikon-wrapper svg{
  fill: #ffde03;
}
.site-list__item:not(.__show_dropdown_sub) .sub-menu__ikon-wrapper svg{  
  transform: rotate(180deg);
}

.sub-menu__item {
  // min-height: max-content;
  height: 50px;
}

.site-list__item--has-children {
  position: relative;
}


.sub-menu__item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 12px 3px;
  margin-bottom: -1px;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 1px solid #e1d7cb;
  transition: all 0.5s ease-out;  

    // &:focus {
    //   color: #000;
    //   background-color: transparent;
    // }

    // &:hover {
    //   color: #000;
    //   background-color: #e1d7cb;
    // }

    &:active {
      color: #ffffff;
      border: 1px solid #ff5722;
      background-color: #ff5722;
    }
  }

  .sub-menu__ikon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 40px;
    z-index: 100;
  }

  svg {
    // transition: all 1.15s ease-in-out;
    transition: all 300ms ease-in-out;
  }

  .sub-menu__ikon {
    fill: #ffffff;
    transform: rotate(180deg);
    cursor: pointer;
  }

  .site-list__item--has-children:active svg { 
    fill: rgba(255, 255, 255, 0.3);
  }


  // я анимацию начало сиреневая

.sub-menu__item-link {
  opacity: 1;
  cursor: pointer;
  animation: slideInLeft 0.3s ease-in-out; 
}



@keyframes slideInLeft {
  0% {
      transform: translate(-25%,0);
      opacity: 0;
    }

    100% {
      transform: translate(0,0);
      opacity: 1;
    }  
}



  // .site-list__item--has-children:hover svg{
  //   transform: rotate(0deg);
  // }

  // .site-list__item--has-children:hover svg { 
  //   fill: $main-text-color;
  // }


@media (min-width: $tablet-width) {
  .site-list > li.__show_dropdown_sub .sub-menu__wrapper {
    padding-top: 15px;
    background-color: transparent;
  }

  .sub-menu__wrapper {
    display: none;
  } 

  .sub-menu {
    position: absolute;
    display: none;
    // top: 66px;
    left: -50px;
    width: 240px;
    background-color: #fef4ee; 
    box-shadow: 0 0.0625rem 0.25rem rgba(0,0,0,0.3);
    z-index: 2;
  } 

  .site-list__item .sub-menu{
    display: none;
  }
  .site-list__item .sub-menu__wrapper{
    display: block;
  }
  .site-list__item.__show_dropdown_sub .sub-menu__ikon-wrapper svg{
    transform: rotate(0deg);
  }
  .site-list__item.__show_dropdown_sub .sub-menu__ikon-wrapper svg{
    fill: $main-blue;
  }

  // .site-list__item:active .sub-menu__ikon-wrapper svg{
  //   fill: $main-blue;
  // }

  
  .site-list__item:not(.__show_dropdown_sub) .sub-menu__ikon-wrapper svg{
    
    transform: rotate(180deg);
  }
  .site-list__item.__show_dropdown_sub .sub-menu {
    display: flex;
  }
  .site-list__item.__show_dropdown_sub  .sub-menu__wrapper{
    display: block;
  }

  .site-list__item--has-children {
    height: 100%;
  }

  // .site-list > li:hover .sub-menu {
  //   display: block;
  // }
  .site-list__item--has-children a{
    padding-left: 0;
  }



  .sub-menu__item-link {
    padding: 10px 3px;
    margin-bottom: -1px;
    color: #666;
    text-decoration: none;
    text-transform: uppercase; 
    font-weight: 400;
    border: none;
    // border: 1px solid #f2f2f2;

    // &:focus {
    //   color: #000;
    //   background-color: transparent;
    // }

    // &:hover {
    //   color: #000;
    //   background-color: #fbf8f6;
    // }

    // &:active {
    //   // color: rgba(0, 0, 0, 0.3);
    //   color: #ffffff;
    //   border: 1px solid #ff5722;
    //   background-color: #ff5722;
    // }
  }

  .sub-menu__ikon-wrapper {
    // left: 0px;
    left: -15px;
  }


  .sub-menu__ikon {
    top: 20px;
    left: 0;
    transform: rotate(180deg);
    fill: #000;  
  }
}
 

@media (min-width: $desktop-width) {
  .sub-menu {
    left: -20px;
    width: 260px;
    background-color: #fff; 
  }

  // .site-list > li:hover .sub-menu {
  //   display: flex;
  // }

.site-list > li:hover .sub-menu {
    display: flex;
  }

  .sub-menu__ikon {
    top: 20px;
   left: unset;

}
  .site-list__item:not(.__show_dropdown_sub) .sub-menu__wrapper{
    display: block;
  }
  // АНИМАЦИЯ_НАЧАЛО code pen

  // .sub-menu a {
  //   display: block;
  //   border: none;
    // padding: 0 0 0 10px;
    // text-decoration: none;
    // line-height: 40px;
    // font-size: 13px;
    // text-transform: uppercase;
    // font-weight: bold;
    // color: #999;
  //   // background-color: #FFF;
  // }
// тут 0 высота должна быть
  .sub-menu li {
    // height: 56px;
    height: 0;
    overflow: hidden;
    transition: all 500ms;
  }
  .sub-menu li {
    transition-delay: 300ms;
  }

.sub-menu li:first-child a {
  border-radius: 2px 2px 0 0;
}
.sub-menu li:last-child a {
  border-radius: 0 0 2px 2px;
}
.sub-menu li:first-child a::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-bottom: 10px solid #fff;
  margin: -10px 0 0 30px;
}

// .sub-menu a:hover {
//   background-color: #EEE;
//   color: #666;
// }

.sub-menu__item-link {
  padding: 10px 3px;
  color: #666;

  &:hover {
    color: #000;
    background-color: #EEE;
  }

  &:focus {
    color: #000;
    background-color: #EEE;
  }

  &:active {
    // color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border: 1px solid #ff5722;
    background-color: #ff5722;
  }
}

.sub-menu > a:hover::after {
  border-top-color: #AAA;
}

.sub-menu li:first-child a:hover::before {
  border-bottom-color: #EEE;
}


// вопрос по вложености такой
.site-list > li:hover:hover li {
  // height: 40px;
  height: 56px;
}
 
.sub-menu:hover li:first-child {
  // padding-top: 15px;
}
// АНИМАЦИЯ_КОНЕЦ  code pen





.site-list > li:hover .sub-menu__wrapper {
  padding-top: 15px;
  display: block;
  // display: flex;
  // visibility: visible;
}

 .sub-menu__item-link {
  // line-height: 40px;
    padding: 10px 4px;
  }

  .sub-menu__ikon-wrapper {
    left: 20px;
  }

  .sub-menu__ikon {
    position: absolute;
    top: 20px;    
  }

  .site-list__item .sub-menu__ikon-wrapper svg {
    transition: all 500ms;
    transition-delay: 300ms;
  }

  .site-list__item .sub-menu__ikon-wrapper:hover svg {
    transform: rotate(0deg);
    transition: all 500ms;
  }

  .site-list__item--has-children:hover svg { 
    fill: $main-blue;
  }
}

@media (max-width: $mobile-width-only) {
  // .sub-menu {
  //   @include list-reset;
  //   position: absolute;
  // }
}
