$page-font: "PT Sans", tahoma, sans-serif;

$background: #f2f2f2;
$main-blue: #81b3d2;
$white: #ffffff;
$main-text-color: #000000;
$reasons-background: #eeeeee;
$reasons-text: #333333;
$article-line: #d6d6d6;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
