@import "normalize.scss";
@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/tags.scss";
@import "blocks/all-reasons.scss";
@import "blocks/advantages.scss";
@import "blocks/adress.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/container.scss";
@import "blocks/page-main.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/banner.scss";
@import "blocks/features.scss";
@import "blocks/all-reasons-list.scss";
@import "blocks/reasons.scss";
@import "blocks/site-list.scss";
@import "blocks/reason.scss";
@import "blocks/offer.scss";
@import "blocks/button.scss";
@import "blocks/button-up.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/article.scss";
@import "blocks/articles.scss";
@import "blocks/video.scss";
@import "blocks/map.scss";
@import "blocks/news.scss";
@import "blocks/form-chbx.scss";
@import "blocks/form-contact.scss";
@import "blocks/form-name.scss";
@import "blocks/form-radio.scss";
@import "blocks/feedback-form.scss";
@import "blocks/pop-up.scss";
@import "blocks/block-info.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
@import "blocks/post-social.scss";
@import "blocks/reserv.scss";
